<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <h2>リスト一覧</h2>
    <div class="mx-auto" style="width: 95%">
        <table class="table table-striped">
            <colgroup><!--列ごとの幅を設定-->
                <col style="width: 5%">
                <col style="width: 45%">
                <col style="width: 25%">
                <col style="width: 10%">
                <col style="width: 15%">

            </colgroup>
            <tr>
                <th>ID</th>
                <th>研修タイトル</th>
                <th>研修日</th>
                <th>予約数</th>
                <th></th>
            </tr>

            <tr th:each="training:${trainingList}">
                <td>
                    <a th:href="@{display-details(trainingId=${training.id})}">
                        <span th:text="${training.id}"></span>
                    </a>
                </td>
                <td><span th:text="${training.title}">sample title</span></td>
                <td><span th:text="${#temporals.format(training.startDateTime, 'MM月dd日 HH:mm')}">sample date</span></td>
                <td><span th:text="${training.reserved}">0</span></td>
                <td>
                    <a th:href="@{/training/confirm-delete(trainingId=${training.id})}" class="btn btn-danger">削除</a>
                    <a th:href="@{/training/confirm-edit(trainingId=${training.id})}" class="btn btn-primary">編集</a>
                </td>
            </tr>

        </table>
    </div>
</body>
</html>