<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <h2>訪問した場所一覧</h2>
    <div class="mx-auto" style="width: 95%">
        <table class="table table-striped">
            <colgroup><!--列ごとの幅を設定-->
                <col style="width: 5%">
                <col style="width: 25%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 40%">
                <col style="width: 10%">
            </colgroup>
            <tr>
                <th>ID</th>
                <th>訪問した場所</th>
                <th>最初に訪問した日時</th>
                <th>最後に訪問した日時</th>
                <th>目的等</th>
                <th></th>
            </tr>

            <tr th:each="place:${placeList}">
                <td>
                    <a th:href="@{display-details(placeId=${place.id})}">
                        <span th:text="${place.id}"></span>
                    </a>
                </td>
                <td><span th:text="${place.placeName}">sample title</span></td>
                <td><span th:text="${#temporals.format(place.firstVisitDateTime, 'YYYY年 MM月dd日')}">sample date</span></td>
                <td><span th:text="${#temporals.format(place.lastVisitDateTime, 'YYYY年 MM月dd日')}">sample date</span></td>
                <td><span th:text="${place.situation}">自宅</span></td>
                <td>
                    <a th:href="@{/place/confirm-delete(placeId=${place.id})}" class="btn btn-danger">削除</a>
                    <a th:href="@{/place/confirm-edit(placeId=${place.id})}" class="btn btn-primary">編集</a>
                </td>
            </tr>

        </table>
    </div>
</body>
</html>